<main class="flex-container">
  <mat-card>
    <mat-card-title>
      Profile Settings
    </mat-card-title>
    <mat-card-content>
      <form [formGroup]="settingsFormGroup" (ngSubmit)="update()">
        <p>
          <mat-form-field class="full-width">
            <mat-label>Name</mat-label>
            <input  formControlName="nameControl" matInput placeholder="Name" type="text"/>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="full-width">
            <mat-label>Mobile</mat-label>
            <input  formControlName="mobileControl" matInput placeholder="Mobile" type="text"/>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input  formControlName="passwordControl" matInput placeholder="Password" type="text"/>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="full-width">
            <mat-label>Role</mat-label>
            <input formControlName="roleControl" matInput [readonly]="!editable" placeholder="Role" type="text"/>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="full-width">
            <mat-label>Creation date</mat-label>
            <input formControlName="creationDateControl" matInput [readonly]="!editable" placeholder="Creation date" type="text"/>
          </mat-form-field>
        </p>
        <p>
          <mat-checkbox class="full-width" [disabled]="true">Disable account</mat-checkbox>
        </p>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button type="submit" mat-raised-button color="primary">Update</button>
    </mat-card-actions>
  </mat-card>
</main>
