<mat-card>

  <mat-card-title>
    <mat-icon color="primary">shopping_cart</mat-icon>
    Shopping Basket ------Total:{{ totalShoppingBasket| currency:'EUR':'symbol'}}
  </mat-card-title>

  <mat-grid-list>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="photo">
        <th mat-header-cell *matHeaderCellDef> Product Photo </th>
        <td mat-cell *matCellDef="let article">
          <img src="{{article.photo}}">
        </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let article"> {{article.description}} </td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> Quantity </th>
        <td mat-cell *matCellDef="let article">
          <button (click)="decreaseQuantity(article)" color="accent" mat-icon-button>
            <mat-icon>remove_circle_outline</mat-icon>
          </button>
          {{article.quantity}}
          <button (click)="incrementQuantity(article)" color="accent" mat-icon-button>
            <mat-icon>add_circle_outline</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="retailPrice">
        <th mat-header-cell *matHeaderCellDef> Retail Price </th>
        <td mat-cell *matCellDef="let article"> {{article.retailPrice}} €</td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Amount </th>
        <td mat-cell *matCellDef="let article"> {{article.amount}} €</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td *matCellDef="let article">
          <button (click)="delete(article)" mat-icon-button>
            <mat-icon color="warn">close</mat-icon>
          </button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-grid-list>

  <mat-card-content>

    <button color="primary" (click)="login()" *ngIf="!isAuthenticated()" mat-raised-button>
      <mat-icon>person_outline</mat-icon>
      Sign In
    </button>&nbsp;

    <button color="accent" (click)="pay()" mat-raised-button>
      <mat-icon>credit_card</mat-icon>
      Pay
    </button>
  </mat-card-content>

</mat-card>

<div id="NavTop">
  <div id="NavCon" class="box">

    <div class="display-row">
      <div id="confirmation" class="display-columna" (click)="confirm()" mat-raised-button>
        <strong>Confirmation <br>message</strong>
      </div>
    </div>
    <div class="display-row">
      <div id="reference" class="display-columna" routerLink="/home/online-order" mat-raised-button>
        <strong>Online Order <br>Reference</strong>
      </div>
    </div>

  </div>
</div>
