<h2 mat-dialog-title> {{title}} {{complaint.opened}}</h2>
<mat-dialog-content>
  <mat-form-field class="full-width">
    <mat-label>Barcode</mat-label>
    <input [(ngModel)]="complaint.barcode" matInput type="text" disabled/>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Description</mat-label>
    <ng-container *ngIf="complaint.opened">
      <input [(ngModel)]="complaint.description" matInput required type="text"/>
    </ng-container>
    <ng-container *ngIf="!complaint.opened">
      <input [(ngModel)]="complaint.description" matInput type="text" disabled/>
      <p>This complaint is closed!</p>
    </ng-container>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button cdkFocusInitial mat-dialog-close mat-raised-button>Close</button>
  <button (click)="update()" [disabled]="invalid" color="primary" mat-raised-button>Update
  </button>
</mat-dialog-actions>
