.example-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.mat-card{
  background-color: indianred;
  color: white;
  margin-bottom: 15px;
}
