<div class="example-container">
  <mat-form-field appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input matInput [(ngModel)]="newPassword" placeholder="newPassword" [type]="hide1 ? 'password' : 'text'" type="password" required>
    <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
      <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input matInput [(ngModel)]="confirmPassword" placeholder="confirmPassword" [type]="hide2 ? 'password' : 'text'" type="password" required>
    <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
      <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <div *ngIf="!samePasswords()" class="alert alert-danger" role="alert">
    <mat-card><strong>Danger!</strong> Please ensure passwords match.</mat-card>
  </div>

  <button mat-raised-button color="primary" (click)="resetPassword()">Submit</button>
</div>

