<mat-card>
  <mat-card-content>
    <mat-label><strong>Calculate Total Tax: </strong></mat-label>
    <mat-form-field>
      <mat-label>Trimester</mat-label>
      <mat-select [(ngModel)]="selectedTrimester">
        <mat-option *ngFor="let trimester of trimesters" [value]="trimester">
          {{trimester}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button (click)="calculateTotalTax()" mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
    <mat-form-field>
      <mat-label>Total Base Tax:</mat-label>
      <input matInput type="text" [value]="(totalTax | async)?.totalBaseTax" [readonly]="true">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Total Tax Value:</mat-label>
      <input matInput type="text" [value]="(totalTax | async)?.totalTaxValue" [readonly]="true">
    </mat-form-field>
  </mat-card-content>
</mat-card>
<app-crud (create)="create()" (read)="read($event)" (update)="update($event)" (delete)="delete($event)"
          [data]="providerInvoices" [title]="title"></app-crud>

