<h2 mat-dialog-title>DEV MODE</h2>
<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content>
  <mat-form-field class="full-width">
    <mat-label>Name</mat-label>
    <input [(ngModel)]="stockAlarm.name" id="name" matInput required type="text"/>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Description</mat-label>
    <input [(ngModel)]="stockAlarm.description" matInput required type="text"/>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Warning</mat-label>
    <input [(ngModel)]="stockAlarm.warning" matInput required type="number">
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Critical</mat-label>
    <input [(ngModel)]="stockAlarm.critical" matInput type="number">
  </mat-form-field>
  <app-search-by-barcode></app-search-by-barcode>


</mat-dialog-content>

<mat-dialog-actions>
  <!--  <button cdkFocusInitial mat-dialog-close mat-raised-button>Close</button>-->
  <!--  <button (click)="create()" *ngIf="isCreate()" [disabled]=invalid() color="primary" mat-raised-button>Create-->
  <!--  </button>-->
  <!--  <button (click)="update()" *ngIf="!isCreate()" [disabled]=invalid() color="primary" mat-raised-button>Update-->
  <!--  </button>-->
</mat-dialog-actions>
