<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content>
  <app-search-by-barcode (add)="addBarcode($event)" [barcode]="barcode"></app-search-by-barcode>
  <div *ngIf="error" class="alert">
    This article is already added.
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button cdkFocusInitial mat-dialog-close mat-raised-button>Close</button>
  <button (click)="create()" *ngIf="isCreate()" [disabled]=invalid() color="primary" mat-raised-button>Add
  </button>
  <button (click)="update()" *ngIf="!isCreate()" [disabled]=invalid() color="primary" mat-raised-button>Update
  </button>
</mat-dialog-actions>
