<mat-grid-list cols="1" rowHeight="4:1">

      <table>
        <thead>
        <tr>
          <th>No.</th>
          <th>Barcode</th>
          <th>Description</th>
          <th>Retail Price</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let article of top5Articles; let i = index;">
          <td> {{i + 1}}</td>
          <td>{{ article.barcode }}</td>
          <td>{{ article.description }}</td>
          <td>{{ article.retailPrice }}</td>
        </tr>
        </tbody>
      </table>

</mat-grid-list>

