<h3 mat-dialog-title>Register</h3>
<mat-dialog-content>
  <mat-form-field>
    <input [(ngModel)]="mobile" matInput placeholder="Mobile" type="text" required/>
    <button (click)="mobile=undefined" *ngIf="mobile" aria-label="Clear" cdkFocusInitial mat-button mat-icon-button
            matSuffix>
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field>
    <input [(ngModel)]="firstName" matInput placeholder="First name" type="text" required/>
    <button (click)="firstName=undefined" *ngIf="firstName" aria-label="Clear" cdkFocusInitial mat-button mat-icon-button
            matSuffix>
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field>
    <input [(ngModel)]="familyName" matInput placeholder="Family name" type="text" required/>
    <button (click)="familyName=undefined" *ngIf="familyName" aria-label="Clear" cdkFocusInitial mat-button mat-icon-button
            matSuffix>
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field>
    <input [(ngModel)]="email" matInput placeholder="Email" type="email" required/>
    <button (click)="email=undefined" *ngIf="email" aria-label="Clear" cdkFocusInitial mat-button mat-icon-button
            matSuffix>
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field>
    <input [(ngModel)]="dni" matInput placeholder="DNI" type="text" required/>
    <button (click)="dni=undefined" *ngIf="dni" aria-label="Clear" cdkFocusInitial mat-button mat-icon-button
            matSuffix>
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field>
    <input [(ngModel)]="address" matInput placeholder="Address" type="text" required/>
    <button (click)="address=undefined" *ngIf="address" aria-label="Clear" cdkFocusInitial mat-button mat-icon-button
            matSuffix>
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field>
    <input [(ngModel)]="password" matInput placeholder="Password" type="password" required/>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button (click)="register()" mat-button>Register</button>
</mat-dialog-actions>
