.product-in-card {
  margin: 5px;
}

.COMMITTED {
  background: darkseagreen;
}

.NOT_COMMITTED {
  background: cornflowerblue;
}

.REQUIRE_PROVIDER {
  background: indianred;
}

.IN_STOCK {
  background: lightyellow;
}
