<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content>
  <mat-form-field class="full-width">
    <mat-label>Mobile</mat-label>
    <input [(ngModel)]="user.mobile" id="company" matInput required type="text"/>
  </mat-form-field>
  <p>
    <mat-form-field class="full-width">
      <mat-label>First Name</mat-label>
      <input [(ngModel)]="user.firstName" matInput required type="text"/>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Family Name</mat-label>
      <input [(ngModel)]="user.familyName" matInput required type="text"/>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="full-width">
      <mat-label>DNI</mat-label>
      <input [(ngModel)]="user.dni" matInput required type="text"/>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Email</mat-label>
      <input [(ngModel)]="user.email" matInput required type="email"/>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="full-width">
      <mat-label>Password</mat-label>
      <input [(ngModel)]="user.password" matInput type="password"/>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="full-width">
      <mat-label>Role</mat-label>
      <mat-select [(ngModel)]="user.role">
        <mat-option *ngFor="let role of roleValues" [value]="role">
          {{role}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </p>
  <p>
    <mat-checkbox [(ngModel)]="user.active" [disabled]="!editable">Active Account</mat-checkbox>
  </p>
</mat-dialog-content>
<mat-dialog-actions>
  <button cdkFocusInitial mat-dialog-close mat-raised-button>Close</button>
  <button (click)="createCompleteUser()" *ngIf="isCreate()" [disabled]="isAuthenticated()" color="primary"
          mat-raised-button>Create
  </button>
  <button (click)="updateCompleteUser()" *ngIf="!isCreate()" [disabled]="isAuthenticated()" color="primary"
          mat-raised-button>Update
  </button>
</mat-dialog-actions>
