li{
  list-style-type: none;
}

li:before {
  content:'\00b7';
  font-size: 100px;
  line-height: 24px;
  vertical-align: middle;
}

.committed {
  color: darkseagreen;
}

.not_committed {
  color: cornflowerblue;
}

.require_provider {
  color: indianred;
}

.in_stock {
  color: yellow;
}
