<main class="flex-container">
  <mat-card *ngFor="let review of reviews | async" class="card-container">
    <mat-card-header>
      <mat-card-title>{{review.article.description}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <textarea matInput placeholder="Ex. It makes me feel..." [(ngModel)]=review.opinion></textarea>
    </mat-card-content>
    <mat-card-actions>
      <app-score-bar [(score)]=review.score></app-score-bar>
      <button *ngIf="review.id === undefined" mat-stroked-button (click)="create(review)">Create</button>
      <button *ngIf="review.id !== undefined" mat-stroked-button (click)="update(review)">Update</button>
    </mat-card-actions>
  </mat-card>
</main>
