<main class="flex-container">
  <mat-card *ngFor="let review of searchAll() | async" class="card-container">
    <mat-card-header>
      <mat-card-title>Barcode: {{review.articleBarcode}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <textarea matInput placeholder="Ex. It makes me feel..." [(ngModel)]=review.opinion></textarea>
    </mat-card-content>
    <mat-card-actions>
      <app-score-bar [(score)]=review.score></app-score-bar>
      <button *ngIf="!(searchIfExists(review) | async)" mat-stroked-button (click)="create(review)">Create</button>
      <button *ngIf="searchIfExists(review) | async" mat-stroked-button (click)="update(review)">Update</button>
    </mat-card-actions>
  </mat-card>
</main>
