<div>
  <app-icon-button id=0 [iconName]=iconNames[0] (clickEvt)="iconClicked($event)"></app-icon-button>
  <app-icon-button id=1 [iconName]=iconNames[1] (clickEvt)="iconClicked($event)"></app-icon-button>
  <app-icon-button id=2 [iconName]=iconNames[2] (clickEvt)="iconClicked($event)"></app-icon-button>
  <app-icon-button id=3 [iconName]=iconNames[3] (clickEvt)="iconClicked($event)"></app-icon-button>
  <app-icon-button id=4 [iconName]=iconNames[4] (clickEvt)="iconClicked($event)"></app-icon-button>
</div>
