<h2 mat-dialog-title>{{ title }}</h2>
<mat-dialog-content>
  <mat-form-field class="full-width">
    <mat-label>Description</mat-label>
    <input [(ngModel)]="order.description" matInput type="text"/>
  </mat-form-field>
  <app-search-by-company [(company)]="order.providerCompany" (companyChange)="addCompany($event)"
                         (close)="resetFinalAmount()" class="medium-width"></app-search-by-company>
  <mat-form-field *ngIf="!isCreate()" appearance="fill">
    <mat-label>Opening</mat-label>
    <input [(ngModel)]="order.openingDate" [value]="setFormatDate(order.openingDate)" matInput required type="text"
           [disabled]="!isCreate()"/>
  </mat-form-field>

  <app-search-by-barcode (add)="addBarcode($event)" class="medium-width"></app-search-by-barcode>
  <mat-form-field class="medium-width">
    <mat-label>Amount</mat-label>
    <input [(ngModel)]="orderLine.requiredAmount" matInput required type="number"/>
  </mat-form-field>
  <mat-form-field *ngIf="!isCreate()" class="medium-width">
    <mat-label>Final</mat-label>
    <input [(ngModel)]="orderLine.finalAmount" matInput type="number" [disabled]="!isCreate()"/>
  </mat-form-field>
  <app-crud (create)="createOrderLine()" (update)="updateOrderLine()"
            [data]="providerOrderLines" [readAction]="false" [deleteAction]="false" [updateAction]="!isCreate()"
            [title]="titleOrderline">
  </app-crud>
</mat-dialog-content>

<mat-dialog-actions>
  <button (click)="create()" *ngIf="isCreate()" [disabled]="validateFields()" color="primary" mat-raised-button>Create
  </button>
  <button (click)="update()" *ngIf="!isCreate() && order.closingDate===undefined" [disabled]="validateFields()"
          color="primary" mat-raised-button>
    Update
  </button>
  <button (click)="close()" *ngIf="!isCreate()" cdkFocusInitial mat-dialog-close mat-raised-button>Close</button>
</mat-dialog-actions>
