<mat-card>
  <mat-card-content>
    <div class="container">
      <mat-label><strong>Filters: </strong></mat-label>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <input [(ngModel)]="orderSearch.description" matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Opening</mat-label>
        <label>
          <mat-date-range-input [formGroup]="range" [rangePicker]="firstPicker">
            <input matStartDate formControlName="start" [(ngModel)]="orderSearch.fromDate" placeholder="Start date">
            <input matEndDate formControlName="end" [(ngModel)]="orderSearch.toDate" placeholder="End date">
          </mat-date-range-input>
        </label>
        <mat-datepicker-toggle matSuffix [for]="firstPicker"></mat-datepicker-toggle>
        <mat-date-range-picker #firstPicker></mat-date-range-picker>
        <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
        <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
      </mat-form-field>
      <button (click)="search()" mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
      <button (click)="reset()" mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-card-content>
</mat-card>
<app-crud (create)="create()" (update)="update($event)" (delete)="delete($event)"
          [data]="providerOrders" [readAction]="false" [deleteAction]="true" [updateAction]="true"
          [title]="title"></app-crud>
